#main{
    width:100%;height:800px;
    background: url('../img/index/bg3.PNG') no-repeat fixed center center ;
    background-size:100% 1000px;
    position:relative;
}
#reg{
    width:25%;height:65%;
    border-radius: 5px;
    position:absolute;
    top:25%;left:50%;
    background-color:#333
}
#reg input{
    margin-left:10px;
    margin-top:5px;
}
#reg.w85{
    width:85%
}
